<!DOCTYPE  html>
<html lang="es">
    <head>
     
	     <meta charset="UTF-8">
	     <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Tiendas-Chile <%=tituloweb%></title>
		 <link rel="stylesheet" href="/css/style.css"> 
         <link rel="stylesheet"  href="/css/responsive.css"> 
	</head>
	 <body>