
	           <div class="col-xxl">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Editar Usuario</h5>
                      <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Nombre</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="Nombre ..." />
                          </div>
                        </div>
                       
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <input
                                type="text"
                                id="basic-default-email"
                                class="form-control"
                                placeholder="emai ... "
                                aria-label="john.doe"
                                aria-describedby="basic-default-email2"
                              />
                              <span class="input-group-text" id="basic-default-email2">@example.com</span>
                            </div>
                            <div class="form-text">You can use letters, numbers & periods</div>
                          </div>
                        </div>
						
						 <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-company">Clave</label>
                          <div class="col-sm-10">
                            <input
                              type="password"
                              class="form-control"
                              id="basic-default-company"
                              placeholder="password ... "
                            />
                          </div>
                        </div>
						
						
						
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Whtasap</label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="658 799 8941"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
						
						
                        
                        <div class="row justify-content-end">
                          <div class="col-sm-10"> 
                           <button type="submit" class="btn btn-primary">Guardar</button>
						    <a href="/ModuloUsuarios" class="btn btn-primary">Regresar</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>